body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#board{
    /* background-color: skyblue;   */
    background-image: url(./flappybirdbg.png);
}
#StartGame{
    text-align:center;
}
#startGame{
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    width: 100px;
    height: 50px;
    word-wrap: break-word;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
}